<app-header></app-header>
<div class="wrap_us">
  <app-sidebar></app-sidebar>
  <div class="conten_main conten_set">
    <h3>Owner List
      <a routerLink="/create-broker" class="btn btn_theme" >Create Owner</a>
    </h3>
    <div class="table_de1 table-responsive">
      <table id="myTable" class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Sr No</th>
            <th>Name</th>
            <th>email</th>
            <th>Mobile Number</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
