<app-header></app-header>
<div class="wrap_us">
  <app-sidebar></app-sidebar>
  <div class="conten_main conten_set">
    <h3>Dashboard
    </h3>
    <div class="row">
      <div class="col-md-3"   >
        <div class="box_4 card_me">
          <a >
            <!-- <span class="img_1"><img src="assets/img/all-users.png" alt=""></span> -->
            <p>Total House</p>
            <h4>{{dashboardData?.countHouseData[0]?.totalCount}}</h4>
          </a>
        </div>
      </div>
      <div class="col-md-3" >
        <div class="box_4 card_me">
          <a >
            <!-- <span class="img_1"><img src="assets/img/music-artiste.png" alt=""></span> -->
            <p>Activate House</p>
            <h4>{{dashboardData?.countHouseData[0]?.activeCount}}</h4>
          </a>
        </div>
      </div>
      <div class="col-md-3" >
        <div class="box_4 card_me">
          <a >
            <!-- <span class="img_1"><img src="assets/img/song-writer.png" alt=""></span> -->
            <p>Inactivate House</p>
            <h4>{{dashboardData?.countHouseData[0]?.inActiveCount}}</h4>
          </a>
        </div>
      </div>
      <div class="col-md-3" *ngIf="isCheckBroker==null">
        <div class="box_4 card_me">
          <a >
            <!-- <span class="img_1"><img src="assets/img/music-producer.png" alt=""></span> -->
            <p>Booked house</p>
            <h4>{{dashboardData?.countHouseData[0]?.bookedCount}}</h4>
          </a>
        </div>
      </div>
      <div class="col-md-3" *ngIf="isCheckBroker==null">
        <div class="box_4 card_me">
          <a>
            <!-- <span class="img_1"><img src="assets/img/earnings.png" alt=""></span> -->
            <p>Total Broker</p>
            <h4>{{dashboardData?.countBrokerData[0]?.totalBrokerCount}}</h4>
          </a>
        </div>
      </div>
      <div class="col-md-3" *ngIf="isCheckBroker==null">
        <div class="box_4 card_me">
          <a>
            <!-- <span class="img_1"><img src="assets/img/Songs-Sold.png" alt=""></span> -->
            <p>Activate Broker</p>
            <h4> {{dashboardData?.countBrokerData[0]?.totalActiveBrokerCount}}</h4>
          </a>
        </div>
      </div>
      <div class="col-md-3" *ngIf="isCheckBroker==null">
        <div class="box_4 card_me">
          <a>
            <!-- <span class="img_1"><img src="assets/img/Songs-Plays.png" alt=""></span> -->
            <p>Inactivate Broker</p>
            <h4>{{dashboardData?.countBrokerData[0]?.totalInActiveBrokerCount}}</h4>
          </a>
        </div>
      </div>

      <div class="col-md-3" *ngIf="isCheckBroker==null">
        <div class="box_4 card_me">
          <a >
            <!-- <span class="img_1"><img src="assets/img/music-producer.png" alt=""></span> -->
            <p>Total User</p>
            <h4>{{dashboardData?.countUserData[0]?.totalUserCount}}</h4>
          </a>
        </div>
      </div>
      <div class="col-md-3" *ngIf="isCheckBroker==null">
        <div class="box_4 card_me">
          <a routerLink="/composer">
            <!-- <span class="img_1"><img src="assets/img/music-producer.png" alt=""></span> -->
            <p>Activate User</p>
            <h4>{{dashboardData?.countUserData[0]?.totalActiveUserCount}}</h4>
          </a>
        </div>
      </div>
      <div class="col-md-3" *ngIf="isCheckBroker==null">
        <div class="box_4 card_me">
          <a >
            <!-- <span class="img_1"><img src="assets/img/music-producer.png" alt=""></span> -->
            <p>Inactivate User</p>
            <h4>{{dashboardData?.countUserData[0]?.totalInActiveUserCount}}</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
