<div class="header">
  <div class="menu">
    <button class="btn"><i class="fa fa-bars"></i></button>
  </div>
  <div class="">
    <ul class="ul_set">
      <li class="dropdown user_profile">
        <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"
          class="dropdown-toggle">
          <img src="assets/img/all-users.png" alt="">
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="background-color: #031016;">
                <li (click)="Logout()"><a class="dropdown-item"><i class="fa fa-sign-out"></i> Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>

</div>

